*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    outline: 0px;
}
body{
       background-image: url("img/pexels-photo-11288959.jpeg") ; 
      
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 3;
      font-family: 'Baloo Bhaijaan 2', cursive;
     
} 
h2{
    color: rgb(33, 30, 32);
    margin: 20px}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
   flex-direction: row;
    flex-wrap: wrap;
   
    /* background-image: url("img/pexels-photo-11288959.jpeg") ; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 3;
    
   
}

.container-1{
    height: fit-content;
    width: fit-content;
    border: 2px solid black;
    margin: 3em;
    background-color: rgb(124, 120, 125);;
    font:bold;
    font-size: larger;
    border-radius: 3px;
    color: black;
    padding: 20px;
}


input{
    margin: 5px 0px 5px 0px;
    width: 100%;
    height:43px;;
    font-size: medium;
    
    
}
.btn{
    background-color: rgb(13 16 27);
    color: rgb(216 209 209);
    border: 2px solid black;
    padding: 3%;
    margin: 5%;
    border-radius: 9px;
}
.btn:hover{
    border: 2px solid white;
    background-color: rgb(99, 96, 96);
}
.container-2{
   
       height: fit-content;
        width: fit-content;
        border: 2px solid black;
        margin: 3em;
        background-color: rgb(124, 126, 128);;
        
    
}
#table{
   
   
    width: 400px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
}
thead{
    background-color: black;
    color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }
td{
    
    padding: 15px;
    text-align: left;
  
  }
  tr{ margin: 2px;}
  tr:nth-child(even) {background-color: #f2f2f2;
                                                     }
  tr:hover {background-color: rgb(175, 174, 185);}

.header{
    color: rgb(71, 216, 88);
  
    text-align: center;margin-top: 1em}
#checkbox{
    background-color: green;
    width:30px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid black;
}


  @media only screen and (max-width: 600px) {
    #table {
        width: 200px;
        margin : 2px 2px 2px 2px;
        padding: 4px;
        }
    }